flask
flask-sqlalchemy
psycopg[binary]
requests
python-dotenv
streamlit
pandas
fastapi
uvicorn[standard]
pydantic
pika
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pytest
httpx
coverage
opencv-python-headless==4.10.0.84
numpy<2.2
streamlit-webrtc==0.47.7
av==12.3.0
tornado>=6.0
