flask
flask-sqlalchemy
psycopg[binary]
requests
python-dotenv
streamlit
pandas
fastapi
uvicorn[standard]
pydantic
pika
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pytest
httpx
coverage
